/*#home{
      margin:0px;
      padding:50px;
      text-align:left;
      color:white;
      background-color:#773019;
}*/
body{
  background: url('logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
}

li {
  float: right;
}

li a {
  display: block;
  color: #ff1201;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #22ee11;
}
